.auth-container {
  height: calc(100% - 24px);
  width: 100%;
}

.auth-form {
  padding-top: 30px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  section {
    padding: 15px;
    width: 80%;
    max-width: 300px;

    mat-form-field {
      display: block;
    }
  }
}

.auth-actions {
  display: flex;
  button {
    margin: auto;
  }
}

@media only screen and (min-width: 600px) {
  .auth-container {
    padding-top: 50px;
    height: calc(100% - 32px);
  }

  .auth-form {
    width: 450px;
    align-items: center;
    height: 600px;
    margin: auto;

    mat-card-title {
      text-align: center;
    }

    section {
      padding: 15px;
      width: 80%;

      mat-form-field {
        display: block;
        max-width: 300px;
        margin: auto;
      }
    }
  }
}

.card-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
