<div class="auth-container">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex-column auth-form"
  >
    <mat-card-title>Roomies</mat-card-title>
    <section class="email-input-container">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error
          *ngIf="email.hasError('email') && !email.hasError('required')"
        >
          *Please enter a valid email address!
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
        />
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>

    <mat-error
      style="font-size: 13px; margin-bottom: 10px"
      *ngIf="errorMsg$ | async as error"
      >{{ error }}</mat-error
    >
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        <!-- (click)="onSignIn()" -->
        Sign In
      </button>
    </mat-card-actions>
  </form>
</div>
