.header-middle {
  font-size: 3rem !important;
  font-family: lemon-jelly;
}

.header-right {
  margin-left: auto;
  visibility: hidden;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.active {
  &.header-right {
    visibility: visible;
  }
}

.avatar-wrapper {
  cursor: pointer;
  display: inherit;
}

.avatar-wrapper,
.avatar-img {
  outline: none;
}

.avatar-text {
  padding: 0 10px;
  font-size: 15px;
  font-weight: 600;
  display: none;
}

@media only screen and (min-width: 600px) {
  .header-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .avatar-text {
    display: inline-block;
  }
}
