.avatar-wrapper {
  display: inline-block;
  vertical-align: middle;
  background: white;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  .avatar-img {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    line-height: 40px;
  }
}
.avatar-text {
  padding: 0 20px;
  font-size: 14px;
}

.header-middle {
  font-size: 3rem !important;
  font-family: lemon-jelly;
}

.header-right {
  margin-left: auto;
  visibility: hidden;
  &.active {
    visibility: visible;
  }

  div {
    display: inline-block;
  }
  div.avatar-text {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .header-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // font-size: 3rem !important;
    // font-family: lemon-jelly;
  }
  .header-right {
    div.avatar-text {
      display: inline-block;
    }
  }
}
