nav.header {
  display: flex;
  align-items: center;
  height: var(--nav-height);
  width: 100%;

  background: #3f51b5;
  color: #fff;
}

.header-middle {
  background: url('/assets/images/roomies-logo.png') no-repeat;
  background-size: contain;
  width: 123px;
  height: 30px;

  margin-left: 15px;
}

.header-right {
  margin: 0 15px 0 auto;
  visibility: hidden;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.active {
  &.header-right {
    visibility: visible;
  }
}

.avatar-wrapper {
  --url: url('/assets/images/default-avatar.png');
  cursor: pointer;
  display: inherit;

  background: var(--url) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
}

.avatar-text {
  padding: 0 10px;
  font-size: 15px;
  font-weight: 600;
  display: none;
}

@media only screen and (min-width: 600px) {
  .header-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }

  .avatar-text {
    display: inline-block;
  }
}
