<nav class="header">
  <span class="header-middle"></span>
  <div class="header-right" [ngClass]="(isLoggedIn$ | async) && 'active'">
    <p *ngIf="user$ | async as user" class="avatar-text">
      {{ user.name }}
    </p>

    <span
      *ngIf="avatar$ | async as avatar"
      class="avatar-wrapper"
      [matMenuTriggerFor]="menu"
      aria-label="user menu"
      [style.--url]="avatar"
    >
    </span>
  </div>
</nav>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onUploadImg()">
    <span>Update photo</span>
  </button>
  <button mat-menu-item (click)="onLogout()">
    <span>Log out</span>
  </button>
</mat-menu>
