.roomies-snackbar-container {
  line-height: 20px;
  padding: 14px 16px !important;

  img {
    vertical-align: middle;
    margin-right: 20px;
  }
  &.snackbar-success {
    background: #1d8d0c;
  }
  &.snackbar-error {
    background: #dd0014;
  }
}
