:host {
  --roomies-snackbar-color: var(--color);
  line-height: 20px;
  padding: 14px 16px !important;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--roomies-snackbar-color, transparent);
  border-width: 0;
  border-radius: var(--roomies-border-radius);

  img {
    display: inline-block;
    margin-right: 20px;
  }

  &.snackbar-success {
    --roomies-snackbar-color: #1d8d0c;
  }

  &.snackbar-error {
    --roomies-snackbar-color: #dd0014;
  }
}
