:host {
  --bar-padding: 28px;
  --chart-top-bottom: 10px;
  --chart-left: 20px;
  --img-border-width: 4px;
  --img-radius: 20px;
  --chart-height: 100px;

  --chart-space: calc(2 * (var(--chart-top-bottom)) + var(--bar-padding));
  --bar-height: calc((var(--chart-height) - var(--chart-space)) / 2);

  --chart-color-1: #42a5f5;
  --chart-color-2: #80d6ff;

  z-index: 1;
  border-radius: 0;
  background: #fff;
  height: var(--totals-height);
}

h3 {
  margin: 0 0 15px;
  text-align: center;
}

.totals-wrapper {
  --chars: 1;
  margin: 16px 20px;

  justify-content: space-between;
  position: relative;
}

.images-wrapper {
  position: absolute;
  left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0;
}
.img-inner-wrapper {
  --chart-img-border-color: lightblue;
  position: absolute;
  border-radius: 50%;
  display: block;
  transform: translate(-50%, -50%);
  z-index: 1;

  border: var(--img-border-width) solid;
  border-color: var(--chart-img-border-color);
}
.img-container {
  border-radius: 50%;
  display: block;
  width: calc(2 * var(--img-radius));
  height: calc(2 * var(--img-radius));
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;

  transition: transform 250ms ease;
  will-change: transform;

  &:hover {
    transform: scale(1.2);
  }
}
.chart-img-pos {
  &_0 {
    top: calc(var(--chart-top-bottom) + (var(--bar-height) / 2));
  }
  &_1 {
    top: calc(
      (var(--chart-height) / 2) + (var(--bar-height) / 2) +
        (var(--bar-padding) / 2)
    );
  }
}

.totals-chart {
  max-height: 6.25rem;
  width: calc(100% - 40px - (var(--chars) * 1ch));
  overflow: hidden;
}

.amount-wrapper {
  line-height: 6.25rem;
  height: 6.25rem;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  width: calc(var(--chars) * 1ch);
  color: var(--neutral-color);

  &.positive {
    color: var(--positive-color);
  }
  &.negative {
    color: var(--negative-color);
  }
}

::ng-deep .ngx-charts {
  text {
    fill: var(--color);
    color: var(--color);
    font-weight: 600;
    font-size: 14px !important;
  }
}

.goUp {
  display: inline-flex;
  opacity: 0;
  transform: translate3d(0, -2em, 0);
  transition: 0.1s ease-in-out;
}

.waitDown {
  display: inline-flex;
  opacity: 0;
  transform: translate3d(0, 2em, 0);
}

.initial {
  display: inline-flex;
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  transition: 0.1s ease-in-out;
}
