@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
$chart-color-1: #42a5f5;
$chart-color-2: #80d6ff;

:host {
  --shadow-color: 0deg 0% 50%;

  --bar-padding: 28px;
  --chart-top-bottom: 10px;
  --chart-left: 20px;
  --img-border-width: 5px;
  --img-radius: 20px;
  --chart-height: 100px;

  --chart-space: calc(2 * (var(--chart-top-bottom)) + var(--bar-padding));
  --bar-height: calc((var(--chart-height) - var(--chart-space)) / 2);

  --chart-color-1: #{$chart-color-1};
  --chart-color-2: #{$chart-color-2};

  --chart-color-rgb-1: #{hexToRGB($chart-color-1)};
  --chart-color-rgb-2: #{hexToRGB($chart-color-2)};

  --chart-img-border-color-1: rgba(var(--chart-color-rgb-1), 0.25);
  --chart-img-border-color-2: rgba(var(--chart-color-rgb-2), 0.25);

  z-index: 1;
  border-radius: 0;
  background: #fff;
  height: var(--totals-height);

  box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.333),
    2px 4px 4px hsl(var(--shadow-color) / 0.333);
}

h3 {
  margin: 0 0 15px;
  text-align: center;
}

.totals-wrapper {
  --chars: 5;
  margin: 16px 20px;

  justify-content: space-between;
  position: relative;
}

.images-wrapper {
  position: absolute;
  left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0;
}
.img-inner-wrapper {
  --chart-img-border-color: #fff;

  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: var(--img-border-width) solid;
  border-color: var(--chart-img-border-color);
}

.img-container {
  border-radius: 50%;
  display: block;
  width: calc(2 * var(--img-radius));
  height: calc(2 * var(--img-radius));
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;

  transition: transform 250ms ease;
  will-change: transform;

  &:hover {
    transform: scale(1.2);
  }
}
.chart-img-pos {
  &_0 {
    top: calc(var(--chart-top-bottom) + (var(--bar-height) / 2));
  }
  &_1 {
    top: calc(
      (var(--chart-height) / 2) + (var(--bar-height) / 2) +
        (var(--bar-padding) / 2)
    );
  }
}

.totals-chart {
  max-height: 6.25rem;
  width: calc(100% - 40px - (var(--chars) * 1ch));
  overflow: hidden;
}

.amount-wrapper {
  line-height: 6.25rem;
  height: 6.25rem;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  width: calc(var(--chars) * 1ch);
  color: var(--neutral-color);

  &.positive {
    color: var(--positive-color);
  }
  &.negative {
    color: var(--negative-color);
  }
}

::ng-deep .ngx-charts {
  text {
    fill: var(--color);
    color: var(--color);
    font-weight: 700;
    font-size: 14px !important;
  }
}

.goUp {
  opacity: 0;
  transform: translateY(-2em);
  transition: 0.1s ease-in-out;
}

.waitDown {
  opacity: 0;
  transform: translateY(2em);
}

.initial {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.1s ease-in-out;
}
