@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Nunito Sans',
);
@include mat-core($custom-typography);

:root {
  --nav-height: 56px;
  --totals-height: 135px;
  --color: #20242e;
  --background-color: #f1f3f5;

  --positive-color: #10bb66;
  --negative-color: #de594e;
  --neutral-color: #ffd23c;
}

html,
body {
  height: 100%;
  font-size: 16px;
  color: var(--color);
}
body {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
}
.row {
  margin-right: 0;
  margin-left: 0;
}
@font-face {
  font-family: lemon-jelly;
  src: url(/assets/fonts/lemon-jelly.ttf) format('opentype');
  font-display: block;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.roomates-snackbar {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 0 !important;
}

.mat-dialog-title {
  font-weight: bold;
}

.mat-tooltip {
  font-size: 1rem;
}

.create-expense-dialog {
  max-width: 95vw !important;
  .mat-dialog-container {
    border-top: 0.25rem solid #3f51b5;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --nav-height: 64px;
  }
}
