<roomies-expenses-sprite
  class="expense-img"
  [icon]="reason | lowercase"
></roomies-expenses-sprite>
<div class="expense-details-wrapper">
  <div class="expense-details-title">{{ user }}</div>
  <div class="expense-details-subtitle">
    {{ expense.spendAt | expenseDate }}
  </div>
</div>
<div class="expense-amount-wrapper">
  <div class="expense-amount">
    {{ expense.amount | expenseAmount }}
  </div>
  <span class="expense-currency"> € </span>
</div>
<div class="expense-item-btns">
  <button class="expense-btn" (click)="onExpenseEdit()">
    <span class="edit-btn"></span>
  </button>
  <button class="expense-btn" (click)="onExpenseDelete()">
    <span class="delete-btn"></span>
  </button>
</div>
