:host {
  --expense-actions-width: 80;
  --expense-item-margin-ver: 10;
  --expense-item-margin-hor: 5;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: calc(100% - var(--expense-item-margin-ver) * 2 * 1px);
  position: relative;

  background: white;
  padding: 15px 20px;
  margin: calc(var(--expense-item-margin-hor) * 1px)
    calc(var(--expense-item-margin-ver) * 1px);

  border-radius: 5px;
  transform: translateX(0);
  transition: all 0.2s ease;

  touch-action: pan-y !important;

  &.left {
    transform: translateX(calc(var(--expense-actions-width) * -1px));

    .expense-item-btns {
      opacity: 1;
    }
  }
}

.expense-img {
  width: 40px;
  height: 40px;
  margin-left: 0;
}

.expense-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
  font-size: 15px;
  user-select: none;
}
.expense-details-title {
  font-weight: 700;
  font-size: 15px;
  user-select: none;
}

.expense-details-subtitle {
  margin-bottom: 0;
  color: rgba(10, 7, 7, 0.5);
  font-weight: 600;
  font-size: 15px;
  user-select: none;
}

.expense-amount-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.expense-amount {
  display: inline-block;
  margin-left: auto;
  font-size: 18px;
  font-weight: 700;
}

.expense-currency {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding-left: 2px;
  transform: translateY(1px);
}

.expense-item-btns {
  position: absolute;
  left: calc(100% + var(--expense-item-margin-hor) * 1px);
  width: calc(var(--expense-actions-width) * 1px);
  height: calc(
    var(--expense-item-height) - var(--expense-item-margin-ver) * 1px
  );

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: transparent;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}

.expense-btn {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  outline: none;
  border-width: 0;

  span {
    display: block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
  }
}

.edit-btn {
  background-image: url('/assets/icons/edit.svg');
}

.delete-btn {
  background-image: url('/assets/icons/delete.svg');
}
