:host {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.add-expense-button {
  transition: transform 300ms ease;
  transform: scale(1);

  &.hide {
    transform: scale(0);
  }
}
