cdk-virtual-scroll-viewport {
  margin-right: 3px;
  &::-webkit-scrollbar {
    width: 0.4em;
  }

  &::-webkit-scrollbar-thumb {
    width: 0.2em !important;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(68, 67, 67, 0.212);
    background-color: white;
  }
}
